<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".SbApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".mvvm.category.CategoryScriptActivity" />
        <activity android:name=".mvvm.main.AboutUsActivity" />
        <activity android:name=".mvvm.script.ScriptEditorActivity" />
        <activity android:name=".mvvm.video.VideoDetailActivity" />
        <activity android:name=".mvvm.script.ScriptDetailActivity" />
        <activity
            android:name=".mvvm.main.SplashScreenActivity"
            android:theme="@style/AppThemeNoToolbar" />
        <activity
            android:name=".mvvm.record.RecordActivity"
            android:theme="@style/AppThemeNoToolbarDark" />
        <activity
            android:name=".mvvm.main.MainActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoToolbarSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_publisher_id" />

    </application>

</manifest>
